<div class="image-group">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "/eye.png", :alt => "eye", class: 'img-responsive' %>
      <p><strong>Watch the global markets</strong></p>
    </div>
    <div class="col-md-4">
      <%= image_tag "/analytics.png", :alt => "chart", class: 'img-responsive' %>
      <p style="padding-left: 40px";><strong>Analyze market trends</strong></p>
    </div>
    <div class="col-md-4">
      <%= image_tag "/bulb.png", :alt => "money", class: 'img-responsive' %>
      <p style="padding-left: 120px;"><strong>Profit</strong></p>
    </div>
  </div>
</div>

