<h1>Ticker Lists</h1>
<p><%= link_to 'Create new ticker list', new_watchlist_path %></p>
<% @watchlists.each do |watchlist| %>
  <p><%= link_to watchlist.name, watchlist_path(watchlist) %></p>
<% end %>

