<h1>Watchlist Index</h1>
<div class="button-pad">
  <p><%= button_to 'Create new watchlist', new_watchlist_path %></p>
</div>
<% @watchlists.each do |watchlist| %>
  <p><%= link_to watchlist.name, watchlist_path(watchlist) %></p>
<% end %>

