<h3><%= @watchlist.name %> Watchlist</h3>
<p><%= link_to 'Add new ticker to watchlist', new_watchlist_ticker_path(@watchlist.id) %></p>

<% @watchlist.tickers.each do |ticker| %>
  <p><%= link_to ticker.name, watchlist_ticker_path(@watchlist.id) %>
<% end %>
