<h1>Stock Ticker Index</h1>

<% if logged_in? %>
  <p><%= link_to 'Add new ticker to watchlist', new_ticker_path %></p>
<% else %>
  <p><%= link_to 'Login', '/login'%> or <%= link_to 'Sign Up', '/signup' %> to create your own watchlist</p>
<% end %>

<% @tickers.each do |ticker| %>
  <h3><%= link_to ticker.name, ticker_path(ticker) %></h3>
<% end %>

