<% if logged_in? %>
  <p><%= link_to 'Add new ticker to watchlist', new_ticker_path %></p>
<% end %>

<% @tickers.each do |ticker| %>
  <h3><%= link_to ticker.name, ticker_path(ticker) %></h3>
<% end %>

