<% if !logged_in? %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>TickerPicker</h1>

    <div class="caption">
      <%= link_to "Log in", '/login', method: :get %> or <%= link_to "sign up", '/signup', method: :get %> to start making your own stock watchlists!
    </div>
  </div>
</div>
<% end %>
